{% extends 'base.html' %}

{% block title %}
A Note Keeping
{% endblock title %}

{% block body %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media screen and (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .carousel-caption{
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
    }
    .heading{
      padding-top: 0 !important; 

    }
   
  }
  .col-lg-4{
    text-align: center;
  }

  .carousel-caption{
    /* background-color: none; */
    color: white;
    position: static;
    height: 400px;
    display: flex;
    justify-content: center;
    
    
  }
  .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
  }

  .heading{
    width: 100%;
    padding-top: 150px;
  }
  
</style>


</main>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>



</html>
</div>

{% endblock body %}
